.forfloatleft
{
    width: 150px;
    height: 200px;
    float: left;
    margin: 0 50px 20px 0;
    clear: right;
}
.topBar
{
    background-color: #4a3c8d !important;
    color: #fafafa;
}
.topBar h1
{
    margin: 20px 0 !important;
    font-weight: 300 !important;
}
.affix
{
    top: 0;
    z-index: 9999 !important;
    width: 100%;
    -webkit-box-shadow: 0px 10px 12px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 12px -8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 12px -8px rgba(0, 0, 0, 0.5);
}
.cardnew .card-img-top
{
    height: 260px !important;
}
.card-block
{
    padding: 6px;
    min-height: 120px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
{
    padding: 10px 15px !important;
}
@media (max-width: 767px)
{
}
.themesection
{
    background-color: #4a3c8d !important;
    padding: 30px 0;
    margin: 30px 0 0 0;
}
.themesection .well
{
    background-color: transparent !important;
    padding: 5px 19px !important;
    color: #fafafa;
    border: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
}
.card
{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.myshow
{
    text-align: center;
    width: 100%;
    height: 100%;
}
.cardnew
{
    position: relative;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.show
{
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    padding: 10px;
    width: 100%;
    color: #fafafa;
    vertical-align: middle;
    text-indent: 5px;
    background: rgba(74, 60, 161, 0.9);
    transition: all 0.5s ease;
}
.show .profilelink
{
    color: #4a3c8d;
    border: 1px solid #fafafa;
    background-color: #fff;
    font-size: 17px;
    border-radius: 3px;
    padding: 3px;
}
a.profilelink
{
    text-decoration: none;
}
.cardnew:hover > .show
{
    top: 0;
    opacity: 1;
    padding-top: 15%;
}
.affix + .container
{
    padding-top: 70px;
}
.carousel-caption1
{
    color: #fafafa;
    padding-top: 50px;
}
h2.whiteColor
{
    margin-top: 5px !important;
}
.carousel-caption1 h1
{
    margin: 5px 0 !important;
    font-size: 46px !important; /* 	background: rgba(43,43,43,1); background: -moz-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(56,56,56,0.26) 44%, rgba(51,51,51,0.07) 55%, rgba(38,38,38,0.07) 80%, rgba(23,23,23,0.07) 88%, rgba(10,10,10,0.07) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,43,43,1)), color-stop(44%, rgba(56,56,56,0.26)), color-stop(55%, rgba(51,51,51,0.07)), color-stop(80%, rgba(38,38,38,0.07)), color-stop(88%, rgba(23,23,23,0.07)), color-stop(100%, rgba(10,10,10,0.07))); background: -webkit-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(56,56,56,0.26) 44%, rgba(51,51,51,0.07) 55%, rgba(38,38,38,0.07) 80%, rgba(23,23,23,0.07) 88%, rgba(10,10,10,0.07) 100%); background: -o-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(56,56,56,0.26) 44%, rgba(51,51,51,0.07) 55%, rgba(38,38,38,0.07) 80%, rgba(23,23,23,0.07) 88%, rgba(10,10,10,0.07) 100%); background: -ms-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(56,56,56,0.26) 44%, rgba(51,51,51,0.07) 55%, rgba(38,38,38,0.07) 80%, rgba(23,23,23,0.07) 88%, rgba(10,10,10,0.07) 100%); background: linear-gradient(to right, rgba(43,43,43,1) 0%, rgba(56,56,56,0.26) 44%, rgba(51,51,51,0.07) 55%, rgba(38,38,38,0.07) 80%, rgba(23,23,23,0.07) 88%, rgba(10,10,10,0.07) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#0a0a0a', GradientType=1 ); */
    padding: 5px 5px;
}
.topBar .nav li a
{
    color: #fafafa;
    padding: 15px 5px !important;
    font-size: 13px;
}
/*@media (min-width: 768px)
{
    .navbar-default .navbar-nav > li > a
    {
        padding: 40px 8px !important;
        color: #333;
    }
    
    .navbar-nav>li>.dropdown-menu {margin-top:0 !important;}
    .dropdown-menu {border:0 !important;}
    .navbar-default .navbar-nav > li > a:hover , .dropdown-menu > li > a:hover
    {
     background-color: #4a3c8d !important;  
     background: url(/index.php?pid=img_transparent) repeat;
     color:#fafafa !important;
    }
}*/
@media (min-width: 768px)
{
    .navbar-default .navbar-nav > li > a
    {
        padding: 40px 8px !important;
        color: #333;
    }
    
    .navbar-nav>li>.dropdown-menu {margin-top:0 !important;}
    .dropdown-menu {border:0 !important;}
    .navbar-default .navbar-nav > li > a:hover > .main-nav-link
    {
     /*background-color: #4a3c8d !important;  */   
     /*background: url(/index.php?pid=img_transparent) repeat;*/
     /*color:#fafafa !important;*/
     border-bottom: 2px solid;
     border-top: 2px solid;
     padding: 9px;
     border-color: #4a3cbd;
    }
    .dropdown-menu > li > a:hover{
        background-color: #4a3c8d !important; 
        background: url(/index.php?pid=img_transparent) repeat;
        color:#fafafa !important;
    }
}
.navbar-default
{
    background-color: #fff !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover
{
    background-color: transparent !important;
}
.topBar .nav li
{
    float: left;
}
.topBar .fa
{
    font-size: 20px !important;
}
.thReeections
{
    position: relative;
    height: 100%;
}
.thReeections .thReeections-inner
{
    position: absolute;
    top: -153px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
}
.mysidebar > li > a
{
    display: block;
    padding: 0.7rem 1rem;
    color: #333;
    font-size: 16px;
}
.mysidebar li
{
    list-style: none;
    border-bottom: 1px dotted rgba(204, 204, 204, 0.55);
    padding: 0;
}
.mysidebar
{
    margin-top: 0.5rem;
    padding-left: 0;
    background-color: #ffffff !important;
    color: #fafafa;
    padding-top: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border: 1px solid rgba(204, 204, 204, 0.47);
    border-radius: 5px;
}
.wellyellow, .welltheme, .wellpaleyellow, .topBar, .themesection, .mymonth, .eventleft, .mysidebar
{
    background: url(/index.php?pid=img_transparent) repeat;
}
.wellyellow
{
    background-color: #e1ad3d !important;
    color: #302b2b;
    border: 0 !important;
    border-radius: 0 !important;
}
.welltheme
{
    background-color: #4d3f8f !important;
    color: #fafafa;
    border: 0 !important;
    border-radius: 0 !important;
}
.wellpaleyellow
{
    background-color: #e8e6d1 !important;
    color: #302b2b;
    border: 0 !important;
    border-radius: 0 !important;
}
.sprite
{
    background: url(/index.php?pid=img_sprite);
}
.parent
{
    background-repeat: no-repeat;
    background-position: -25px -21px;
    width: 75px;
    height: 64px;
}
.faculty
{
    background-repeat: no-repeat;
    background-position: -211px -19px;
    width: 78px;
    height: 76px;
}
.student
{
    background-repeat: no-repeat;
    background-position: -132px -19px;
    width: 67px;
    height: 67px;
}
.myeventdiv
{
    padding: 0 0 20px 0;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}
.myeventdivfirst
{
    margin-top: 25px;
}
.footerlinks
{
    padding: 0;
}
.footerlinks li
{
    list-style: none;
}
.footerlinks li a
{
    color: #333;
}
.eventright
{
    overflow: hidden;
    padding: 0 5px;
}
.themesection h4
{
    text-transform: uppercase;
}
.themesection .well a
{
    color: #fafafa;
    text-decoration: none;
}
.footerleft
{
    float: left;
    padding: 10px 20px 10px 0;
}
.footerright
{
    overflow: hidden;
}
.footerright p
{
    color: #333;
}
.profileleft
{
    float: left;
    color: #fafafa;
    padding: 10px 20px 10px 0;
}
.profileright
{
    overflow: hidden;
    color: #fafafa;
}
.eventleft
{
    float: left;
    text-align: center;
    color: #fafafa;
    background-color: #4a3c8d !important;
    background: url(/index.php?pid=img_transparent) repeat;
    font-size: 22px;
    padding: 0;
}
.mymonth
{
    background-color: #f9c830;
    color: #333;
    display: block;
    padding: 1px 10px;
    font-size: 15px;
}
.calenderdatestyle li
{
    list-style: none;
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
}
.calenderdatestyle
{
    padding-left: 0;
}
h3
{
    text-transform: uppercase;
}
.mytitle
{
    background-color: #fff;
    border-left: 5px solid #544793;
    padding-left: 8px;
}
.calendermonth
{
    background-color: #f9c830;
    color: #333;
    width: 40px;
    height: 80px;
}
.calendermonthday
{
    background-color: #544793;
    color: #fafafa;
    width: 40px;
    height: 30px;
}
.footersection
{
    background-color: #f7f7f7;
    padding: 30px 0;
    color: #4d3f8f;
}
.topBar .nav li a
{
    font-size: 15px !important;
}
.topBar .nav li a:hover
{
    background-color: transparent !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover
{
  /*background-color: #4a3c8d !important;*/
  background: transparent;
  /*color:#fafafa !important;*/
}
.header-text
{
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}
.header-text h2
{
    font-size: 40px;
}
.header-text h2 span
{
    background-color: #2980b9;
    padding: 10px;
}
.header-text h3 span
{
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(50, 50, 50, 0.8)), to(rgba(80, 80, 80, 0.2)), color-stop(.2, #333333));
    padding: 15px;
}

@media (min-width: 767px)
{
    .navbar-nav .dropdown-menu .caret
    {
        transform: rotate(-90deg);
    }
}

.dropdown-menu
{
    min-width: 200px !important;
}
.nav-tabs
{
    border-bottom: 2px solid #DDD;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover
{
    border-width: 0;
}
.nav-tabs > li > a
{
    border: none;
    color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover
{
    border: none;
    color: #4285F4 !important;
    background: transparent;
}
.nav-tabs > li > a::after
{
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after
{
    transform: scale(1);
}
.tab-nav > li > a::after
{
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}
.tab-pane
{
    padding: 0;
}
.tab-content
{
    padding: 20px 0;
}

table.gsc-search-box
{
    display: none;
}

div.gcsc-branding
{
    display: none;
}



 .event-list {
		list-style: none;
				margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
background-color: #4a3c8d !important;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
                background-color:#e1ad3d !important;
		display: block;
		font-size: 21pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 12pt;
		line-height: 1;
                margin-top: 0.5em;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 13pt;

		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 11pt;
	
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 60px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 60px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 60px;
			height:60px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 60px;
			text-align: left;
	
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}
    .cssload-preloader {
  font-family: Arial, Tahoma;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  
  z-index: 10;
  display: box;
    display: -o-box;
    display: -ms-box;
    display: -webkit-box;
    display: -moz-box;
  display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
  box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
  justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
  box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
  align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
  transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
  perspective: 487px;
    -o-perspective: 487px;
    -ms-perspective: 487px;
    -webkit-perspective: 487px;
    -moz-perspective: 487px;
  overflow: hidden;
  animation: wobble 5.75s ease-in-out infinite;
    -o-animation: wobble 5.75s ease-in-out infinite;
    -ms-animation: wobble 5.75s ease-in-out infinite;
    -webkit-animation: wobble 5.75s ease-in-out infinite;
    -moz-animation: wobble 5.75s ease-in-out infinite;
  padding-bottom: 2em;
}


.cssload-preloader > span {
  font-size: 49px;
  animation: 5.75s ease-in-out infinite;
    -o-animation: 5.75s ease-in-out infinite;
    -ms-animation: 5.75s ease-in-out infinite;
    -webkit-animation: 5.75s ease-in-out infinite;
    -moz-animation: 5.75s ease-in-out infinite;
  color: transparent;
  text-shadow: 0 0 0px rgb(0,0,0);
}
span:nth-child(-n+3) {
  animation-delay: -2.88s;
    -o-animation-delay: -2.88s;
    -ms-animation-delay: -2.88s;
    -webkit-animation-delay: -2.88s;
    -moz-animation-delay: -2.88s;
}

span:nth-child(1),
span:nth-last-child(1) {
  animation-name: blur-1;
    -o-animation-name: blur-1;
    -ms-animation-name: blur-1;
    -webkit-animation-name: blur-1;
    -moz-animation-name: blur-1;
}



span:nth-child(2),
span:nth-last-child(2) {
  animation-name: blur-2;
    -o-animation-name: blur-2;
    -ms-animation-name: blur-2;
    -webkit-animation-name: blur-2;
    -moz-animation-name: blur-2;
}



span:nth-child(3),
span:nth-last-child(3) {
  animation-name: blur-3;
    -o-animation-name: blur-3;
    -ms-animation-name: blur-3;
    -webkit-animation-name: blur-3;
    -moz-animation-name: blur-3;
}






@keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em rgb(0,0,0);
  }
}

@-o-keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em rgb(0,0,0);
  }
}

@-ms-keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em rgb(0,0,0);
  }
}

@-webkit-keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em rgb(0,0,0);
  }
}

@-moz-keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em rgb(0,0,0);
  }
}

@keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em rgb(0,0,0);
  }
}

@-o-keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em rgb(0,0,0);
  }
}

@-ms-keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em rgb(0,0,0);
  }
}

@-webkit-keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em rgb(0,0,0);
  }
}

@-moz-keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em rgb(0,0,0);
  }
}

@keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em rgb(0,0,0);
  }
}

@-o-keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em rgb(0,0,0);
  }
}

@-ms-keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em rgb(0,0,0);
  }
}

@-webkit-keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em rgb(0,0,0);
  }
}

@-moz-keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em rgb(0,0,0);
  }
}

@keyframes wobble {
  from, to {
    transform: rotateY(-45deg);
  }
  50% {
    transform: rotateY(45deg);
  }
}

@-o-keyframes wobble {
  from, to {
    -o-transform: rotateY(-45deg);
  }
  50% {
    -o-transform: rotateY(45deg);
  }
}

@-ms-keyframes wobble {
  from, to {
    -ms-transform: rotateY(-45deg);
  }
  50% {
    -ms-transform: rotateY(45deg);
  }
}

@-webkit-keyframes wobble {
  from, to {
    -webkit-transform: rotateY(-45deg);
  }
  50% {
    -webkit-transform: rotateY(45deg);
  }
}

@-moz-keyframes wobble {
  from, to {
    -moz-transform: rotateY(-45deg);
  }
  50% {
    -moz-transform: rotateY(45deg);
  }
}
 .btn-primary {
    background: #564993 !important;
    color: #ffffff;
}